# Dictionary (Python) 

- Teacher : Chatgpt
- Date : 5/03/2025

### Ciri - ciri Dictionary

- Menggunakan kurung kurawal {}.
- Terdiri dari key (kunci) dan value (nilai).
- Key harus unik dan bisa berupa tipe data string, angka, atau tuple.
- Value bisa berupa tipe data apa saja (string, angka, list, bahkan dictionary lain).
- Tidak berurutan seperti list (versi sebelum Python 3.7).

#### Contoh Dasar Dictionary

In [3]:
##  Dictionary dengan beberapa pasangan key - value

orang = {
    "Nama" : "Alfaizi",
    "Usia" : 19,
    "Pekerjaan" : "Mahasiswa",
    "hobi": ["ngoding", "archery", "manual brewing"]
}

#### Akses dictionary

In [4]:
print(orang)

{'Nama': 'Alfaizi', 'Usia': 19, 'Pekerjaan': 'Mahasiswa', 'hobi': ['ngoding', 'archery', 'manual brewing']}

In [ ]:
# Akses nilai dalam dictionary

# Cara Akses : print(variabel_dict["Nama Key"])

print(orang['Nama'])
print(orang["hobi"])

Alfaizi
['ngoding', 'archery', 'manual brewing']

In [11]:
# Bisa akses menggunakan .get()
# Metode get digunakan untuk mengakses suatu key yang mungkin tidak ada dalam variabel, sehingga kode tetap dapat berjalan tanpa error.

print(orang.get("Usia"))
print(orang.get("Status")) # tetap bisa berjalan tapi mengeluarkan output None
print(orang.get("alamat", "Tidak ada data"))  # Output: Tidak ada data

19
None
Tidak ada data

#### Menambah dan Memanipulasi data

In [12]:
# Menambahkan Key Baru : 

orang["Universitas"] = "Telkom University"

# Mengubah atau mengedit Key Yang sudah ada 

orang["Usia"] = 21

# Menghapus Key 

del orang["Pekerjaan"]

In [13]:
print(orang)

{'Nama': 'Alfaizi', 'Usia': 21, 'hobi': ['ngoding', 'archery', 'manual brewing'], 'Universitas': 'Telkom University'}

In [15]:
# Menampilkan semua key
for key in orang.keys():
    print(key)
    
print("="*20)

# Menampilkan semua value
for value in orang.values():
    print(value)

print("="*20)

# Menampilkan key dan value
for key, value in orang.items():
    print(f"{key}: {value}")

Nama
Usia
hobi
Universitas
====================
Alfaizi
21
['ngoding', 'archery', 'manual brewing']
Telkom University
====================
Nama: Alfaizi
Usia: 21
hobi: ['ngoding', 'archery', 'manual brewing']
Universitas: Telkom University

#### Nested Dictionary

Dictionary di dalam dictionary

In [ ]:
# data_mahasiswa = {
#     "Alfaizi": {
#         "usia": 19,
#         "jurusan": "Teknologi Informasi"
#     },
#     "Budi": {
#         "usia": 20,
#         "jurusan": "Sistem Informasi"
#     }
# }

# print(data_mahasiswa["Alfaizi"]["jurusan"])  # Output: Teknologi Informasi
# print(data_mahasiswa["Budi"]["usia"]) # Output : 20

Teknologi Informasi
20

### Studi Kasus 1

- Buat dictionary bernama data_mahasiswa yang menyimpan informasi beberapa mahasiswa.
- Setiap mahasiswa memiliki nama, usia, jurusan, dan IPK.
- Tambahkan data untuk 3 mahasiswa.
- Akses dan tampilkan jurusan dari salah satu mahasiswa.
- Ubah usia salah satu mahasiswa.
- Tambahkan alamat untuk salah satu mahasiswa.
- Hapus data IPK dari satu mahasiswa.
- Tampilkan semua data mahasiswa menggunakan loop.

In [31]:
# Membuat Dictionary 

data_mahasiswa = {
    "Alfaizi Ahmad Zahran" : {
        "Usia" : 20,
        "Jurusan" : "Teknologi Informasi",
        "IPK" : 3.2
    },
    
    "John Doe Sudarsono" : {
        "Usia" : 22,
        "Jurusan" : "Sistem Informasi",
        "IPK" : 3.7
    },
    
    "Firman Firewall" : {
        "Usia" : 28,
        "Jurusan" : "Sastra Mesin",
        "IPK" : 3.9
    }
}

In [19]:
# Meng Akses dan menampilkan salah satu mahasiswa

print(data_mahasiswa["John Doe Sudarsono"]["Jurusan"])

Sistem Informasi

In [21]:
# Mengubah Usia salah satu mahasiswa

data_mahasiswa["Firman Firewall"]["Usia"] = 25
print(data_mahasiswa["Firman Firewall"])

{'Usia': 25, 'Jurusan': 'Sastra Mesin', 'IPK': 3.9}

In [23]:
# Menambahkan Alamat pada salah satu mahasiswa

data_mahasiswa["Firman Firewall"]["Alamat"] = "Jl. Halimun,Setiabudi" 

print(data_mahasiswa["Firman Firewall"])

{'Usia': 25, 'Jurusan': 'Sastra Mesin', 'IPK': 3.9, 'Alamat': 'Jl. Halimun,Setiabudi'}

In [32]:
# Mengahpus IPK salah satu mahasiswa

del data_mahasiswa["Alfaizi Ahmad Zahran"]["IPK"]

In [34]:
# Menampilkan data seluruh mahasiswa 


for nama,detail in data_mahasiswa.items() :
    print(f" Nama :{nama}")
    for key,value in detail.items():
        print(f" {key} : {value}")
       
    print("="* 30)

 Nama :Alfaizi Ahmad Zahran
 Usia : 20
 Jurusan : Teknologi Informasi
==============================
 Nama :John Doe Sudarsono
 Usia : 22
 Jurusan : Sistem Informasi
 IPK : 3.7
==============================
 Nama :Firman Firewall
 Usia : 28
 Jurusan : Sastra Mesin
 IPK : 3.9
==============================

### Studi Kasus 2

In [35]:
# Sebuah perusahaan memiliki data gaji karyawannya dalam bentuk dictionary sebagai berikut:

gaji_karyawan = {
    "Andi": {"posisi": "Data Analyst", "gaji": 8_000_000},
    "Budi": {"posisi": "Software Engineer", "gaji": 12_000_000},
    "Citra": {"posisi": "UI/UX Designer", "gaji": 9_000_000},
    "Dewi": {"posisi": "Project Manager", "gaji": 15_000_000}
}

üí° Tugasmu:
- 1Ô∏è‚É£ Tampilkan semua data karyawan dengan format yang rapi.
- 2Ô∏è‚É£ Tampilkan hanya karyawan yang memiliki gaji di atas 10 juta.
- 3Ô∏è‚É£ Hitung total gaji semua karyawan.

- üöÄ Silakan coba dulu! Jika kesulitan, beri tahu saya. üòä

In [38]:
# 1. Tampilkan semua data karyawan dengan format yang rapi.

for nama,info in gaji_karyawan.items():
    print(f"Nama      : {nama}")
    for key,value in info.items():
        print(f"{key.ljust(10)}: {value}") 
    print("=" * 30)

Nama      : Andi
posisi    : Data Analyst
gaji      : 8000000
==============================
Nama      : Budi
posisi    : Software Engineer
gaji      : 12000000
==============================
Nama      : Citra
posisi    : UI/UX Designer
gaji      : 9000000
==============================
Nama      : Dewi
posisi    : Project Manager
gaji      : 15000000
==============================

In [42]:
# 2. Tampilkan hanya karyawan yang memiliki gaji di atas 10 juta.

for nama,info in gaji_karyawan.items():
    if info["gaji"] > 10000000:
         print(f"{nama} memiliki gaji di atas 10 juta ({info['gaji']})")

Budi memiliki gaji di atas 10 juta (12000000)
Dewi memiliki gaji di atas 10 juta (15000000)

### Studi Kasus 3

Sebuah toko online memiliki daftar produk dalam bentuk dictionary yang berisi informasi berikut:

- Nama produk
- Harga
- Stok

In [44]:
produk_toko = {
    "Laptop": {"harga": 12000000, "stok": 5},
    "Smartphone": {"harga": 8000000, "stok": 10},
    "Headphone": {"harga": 1500000, "stok": 15},
    "Mouse": {"harga": 250000, "stok": 30},
    "Keyboard": {"harga": 500000, "stok": 20}
}

Tantangan (Coba kerjakan sendiri! üöÄ)
- 1Ô∏è‚É£ Tampilkan semua produk beserta harga dan stoknya dengan format yang rapi.
- 2Ô∏è‚É£ Cek apakah ada produk dengan stok kurang dari 10 dan tampilkan produknya.
- 3Ô∏è‚É£ Hitung total nilai stok (harga √ó jumlah stok) dari semua produk.
- 4Ô∏è‚É£ Tambahkan produk baru bernama "Monitor" dengan harga 3.500.000 dan stok 7.

In [48]:
# 1 Menampilkan produk

for produk,detail in produk_toko.items():
    print(f"Produk    : {produk}")
    for key,value in detail.items():
        print(f"{key.ljust(10)}: {value}") 
    print("=" * 30)

Produk    : Laptop
harga     : 12000000
stok      : 5
==============================
Produk    : Smartphone
harga     : 8000000
stok      : 10
==============================
Produk    : Headphone
harga     : 1500000
stok      : 15
==============================
Produk    : Mouse
harga     : 250000
stok      : 30
==============================
Produk    : Keyboard
harga     : 500000
stok      : 20
==============================

In [49]:
# 2 Cek apakah ada produk dengan stok kurang dari 10 dan tampilkan produknya.


for produk,detail in produk_toko.items():
    if detail["stok"] < 10 :
        print(f"{produk} mempunyai stok kurang dari 10")

Laptop mempunyai stok kurang dari 10

In [57]:
# 3 Hitung total nilai stok (harga √ó jumlah stok) dari semua produk.
count = 0

for produk,detail in produk_toko.items():
    harga_stok = detail["harga"] * detail["stok"]
    print(f"Nama Produk                    : {produk}")
    print(f"Harga Produk                   : {detail['harga']}")
    print(f"Stok                           : {detail['stok']}")
    print(f"Total stok (harga x stok)      : {harga_stok} ")
    print("=="*30)

    count += harga_stok
    
print("Hasil Akhir (penjumlahan dari Total stok) : ",count)

Nama Produk                    : Laptop
Harga Produk                   : 12000000
Stok                           : 5
Total stok (harga x stok)      : 60000000
============================================================
Nama Produk                    : Smartphone
Harga Produk                   : 8000000
Stok                           : 10
Total stok (harga x stok)      : 80000000
============================================================
Nama Produk                    : Headphone
Harga Produk                   : 1500000
Stok                           : 15
Total stok (harga x stok)      : 22500000
============================================================
Nama Produk                    : Mouse
Harga Produk                   : 250000
Stok                           : 30
Total stok (harga x stok)      : 7500000
============================================================
Nama Produk                    : Keyboard
Harga Produk                   : 500000
Stok                           : 20
Total stok (harga x stok)      : 10000000
============================================================
Hasil Akhir (penjumlahan dari Total stok) :  180000000